#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 4em;
  padding: 2em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #c7c9f3aa);
}


.fade {
  animation-name: fade;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes wobb {
  0%, 100%   {transform: translateY(0px)}
  25%  {transform: translateY(-3px)}
  75%  {transform: translateY(3px)}
}

.wobble span {
  animation-name: wobb;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 400ms;
  display: inline-block;
  transform: translateY(0px);
}
